<div id="navigation" class="navbar navbar-default navbar-static-top" role="navigation">
	<div div class="container">
	  <div class="container">
		<div class="navbar-header">
		  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		  </button>
		  <a class="navbar-brand" href="/home">SLUbay</a>
		  <p class="navbar-text"><span class="glyphicon glyphicon-tower"></span> Admin Mode</p>
		</div>
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav navbar-right">
				<li><a id="postmanager" href="/home/manage/posts">Post Manager</a></li>
				<li><a id="adminmanager" href="/home/manage/admin">Admin Manager</a></li>
				<li><a id="usermanager" href="/home/manage/admin/user">User Manager</a></li>
				<li><a id="categorymanager" href="/home/manage/admin/category">Category Manager</a></li>
				<li><a id="logout" href="/logout">Logout</a></li>
		  	</ul>
		</div><!--/.nav-collapse -->
	  </div>
	</div>
</div>