<nav id = "managenavigation">
    <ul>
        <li><a href="/">Home</a></li>
	<li ><a id="messagemanager" href="/home/manage/messages">Message Manager</a></li>
        <li ><a id="postmanager" href="/home/manage/posts">Post Manager</a></li>
        <li ><a id="logout" href="/logout">Logout</a></li>
    </ul>
</nav>