<nav id = "navigation">
    <ul>
        <li><a href="/">Home</a></li>
	<li ><a id="manage" href="/home/manage">Manage Account</a></li>
        <li ><a id="logout" href="/logout">Logout</a></li>
    </ul>
</nav>