
<div id="navigation" class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container">
	<div class="navbar-header">
	  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
		<span class="sr-only">Toggle navigation</span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	  </button>
	  <a class="navbar-brand" href="/home">SLUbay</a>
	  <p class="navbar-text">Greetings, <%= username %></p>
	</div>
	<div class="navbar-collapse collapse">
		<ul class="nav navbar-nav navbar-right">
			<li>
				<form id="createnewpost" role="form" class="navbar-form" action="home/new">
					<button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> New Post</button>
				</form>
			</li>
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">Account<b class="caret"></b></a>
				<ul class="dropdown-menu">
					<li><a id="postmanager" href="/home/manage/posts">Post Manager</a></li>
					<li><a id="adminmanager" href="/home/manage/admin">Admin Manager</a></li>
					<li class="divider"></li>
					<li><a id="logout" href="/logout">Logout</a></li>
				</ul>
			</li>
		</ul>
	</div><!--/.nav-collapse -->
  </div>
</div>

