<nav id="navigation">
	<ul>
		<li class="navElement">Lorem</li>
		<li class="navElement">Ipsum</li>
		<li class="navElement">Dolor</li>
		<li class="navElement">Sit</li>
		<li class="navElement">Amet</li>
	</ul>
</nav>