/* Jacob Hurlbut
// CS 340, Homework 2
// Due February 4th, 2014
*/

.sectionHeading {
	
	text-align: center;
	
}
#content {
	font-family: "Georgia" serif;
	text-align: justify;
}
#aside {
	font-family: cursive;
	text-align: center;
	font-size: large; 
	
}

header {
	text-align: center;
	font-family: cursive;
	font-size: larger;
	font-weight: bold;	
}

#footer {
		
	text-align: center;
	font-size: x-large;
	font-weight: bold;
}

.navElement {
	list-style:none;
	text-align: center;
	font-weight: bold;
	
}

.navElement:hover {

    transition: all .25s ease 0;
    background-color: #a8001a;
    

}
body {
	background: linear-gradient(white 0%, #cfcfcf 50%);
}

/* Small Screen */
@media screen and (max-width: 480px) {

	.navElement {
		background-color: black;
		width: 90%;
		color: white;
		padding-bottom: 15px;
		padding-top: 15px;
		margin-bottom: 3px;
		margin-top: 3px;
	}
	
}


/* Medium Screen */

@media screen and (min-width: 480px) and (max-width: 800px) {


	#navigation {
		margin: auto;
		list-style:none;
		text-align: center;
		float: none;
		
	}
	
	.navElement {


		float:left;
		width: 18%;
		list-style:none;
		font-weight: bold;
		background-color: black;
		color: white;
		
		border-radius: 3px;	
		padding: 7px 0 7px 0;
		margin: .5%;
	
	}


	#content {
		margin: 1%;
		width:65%;
		float: left;
		
	}
	
	#aside {
		margin: 1%;
		width:30%;
		float: right;
	}
	
	#footer {
		clear: both;
	}
	
}

/* Large Screen */

@media screen and (min-width: 800px) {

	body {
		
		max-width: 1024px;
		
	}


	#navigation {
		width:25%;
		margin: 1%;
		list-style:none;
		text-align: center;
		float: left;
		
	}
	
	.navElement {
		background-color: black;
		clear:left;
		color: white;
		padding-bottom: 15px;
		padding-top: 15px;
		margin-bottom: 3px;
		margin-top: 3px;
	}


	#content {

		width:73%;
		float: right;
		
		
	}
	
	section {
		
		margin: 1%;		
	}
	
	#Section1 {
		width: 30%;
		float: right;

	}
	#Section2 {
	width: 30%;
		float: right;

	}

	#Section3 {
	width: 30%;
		float: right;

	}

	
	#aside {
	clear: left;
		margin: 1%;
		width:25%;
		float: left;
	}
	
	#footer {
		clear: both;
	}
	
}