<% include chunks/head %>

<p>Manage category page for <%= username %>.</p>

<nav id = "messagemanagenavigation">
    <ul>
        <li><a href="/">Home</a></li>
        <li ><a id="usermanager" href="/home/manage/admin/user">User Manager</a></li>
        <li ><a id="logout" href="/logout">Logout</a></li>
    </ul>
</nav>

<% include chunks/foot %>