<% include chunks/head %>
<% include chunks/adminnav %>

<p>Manage category page for <%= username %>.</p>

<form id="createcategory" method="post" action="/home/manage/admin/category/create" role="form">
	
  <div class="form-group">
    <label for="category">Enter category name</label>
    <input type="text" class="form-control" name="createcategoryname" id="category_name" placeholder="Category" required>
  </div>
  
  <button id="createcategory" type="submit" class="btn btn-primary">Create New Category</button>
  
</form>

<form id="deletecategory" method="post" action="/home/manage/admin/category/delete" role="form">
	
    <select name="deletecategoryname">
        <% categories.forEach(function(item) { %>
            <option class="list-group-item">
                <%= item.name %>
            </option>
        <% }); %>
    </select>
  
    <button id="deletecategory" type="submit" class="btn btn-primary">Delete Category</button>
  
</form>

<% include chunks/foot %>