<% include chunks/head %>
<div class="container">
	<div class="jumbotron">
		<h1 class="text-center">Oh, snap!</h1>
		<p class="text-center">The page you were looking for doesn't exist. Unless you were looking for this error page, in which case: Congrats! You totally found it.</p>
		<p><a class="btn btn-primary btn-block btn-lg" role="button" href="/home">Get me out of here!</a></p>
	</div>
</div>
<% include chunks/foot %>