<% include chunks/head %>

<p>Home page for <%= username %>.</p>

<div>
    <nav>
        <legend>Categories</legend>
        <li><a id="home" href="/home/textbooks">Textbooks</a></li>
    </nav>
</div>

<% include chunks/nav %>
<% include chunks/foot %>