<% include chunks/head %>

<div class="container">
	<div class="jumbotron">
		<h1 class="text-center">Welcome to SLUbay</h1>
		<p class="text-center">SLUbay is an easy way to exchange goods and services with fellow Laurentians.</p>
	</div>

<div class="col-xs-12 col-sm-6">
	<form id="login" method="post" action="/login" role="form">
    	<div class="page-header">
      	  <h3>Login</h3>
    	</div>
	  <div class="form-group">
	    <label for="login_name">Username</label>
	    <input type="text" class="form-control" name="name" id="login_name" placeholder="Username" required>
	  </div>
	  
	  <div class="form-group">
	    <label for="login_password">Password</label>
	    <input type="password" class="form-control" id="login_password" name="password" placeholder="Password" required>
	  </div>
	  
	  <button id="login_submit" type="submit" class="btn btn-primary">Login</button>
	  
	</form>
</div><!--Login div-->

<div class="col-xs-12 col-sm-6">
	<form id="register" method="post" action="/register" role="form">
	    <div class="page-header">
	      <h3>Create an account</h3>
	    </div>
	    <div class="form-group">
	      <label for="register_realname">Real Name</label>
	      <input type="text" class="form-control" name="realname" id="register_realname" placeholder="Real Name" required>
	    </div>
		
	  <div class="form-group">
	    <label for="register_name">Username</label>
	    <input type="text" class="form-control" name="name" id="register_name" placeholder="Username" required>
	  </div>
	  
	  <div class="form-group ">
	    <label for="passwordInput">Password</label>
	    <input type="password" class="form-control" id="login_password" name="password" placeholder="Password" required>
	  </div>
	  
	  <div class="form-group">
	    <label for="register_email">Email address</label>
	    <input type="email" class="form-control" name="email" id="register_email" placeholder="Enter email">
	  </div>
	  
	  
	  <button id="register_submit" type="submit" class="btn btn-primary">Create an account</button>
	  
	</form>
</div> <!--Create account div-->
</div>
<% if (error) { %>
	<div class="alert alert-danger"><%= error %></div>
<% } %>

<% include chunks/foot %>