<% include chunks/head %>

<p>Manage account page for <%= username %>.</p>

<nav id = "managenavigation">
    <ul>
        <li><a id="home" href="/home">Home</a></li>
	<li ><a id="messagemanager" href="/home/manage/messages">Message Manager</a></li>
        <li ><a id="postmanager" href="/home/manage/posts">Post Manager</a></li>
	<li ><a id="adminmanager" href="/home/manage/admin">Admin Manager</a></li>
        <li ><a id="logout" href="/logout">Logout</a></li>
    </ul>
</nav>

<% include chunks/foot %>