<% include chunks/head %>

<p>Message manager  page for <%= username %>.</p>

<nav id = "messagemanagenavigation">
    <ul>
        <li><a href="/">Home</a></li>
        <li ><a id="postmanager" href="/home/manage/posts">Post Manager</a></li>
        <li ><a id="logout" href="/logout">Logout</a></li>
    </ul>
</nav>

<% include chunks/foot %>