<% include chunks/head %>

<div>
    <div class="col-xs-12 col-sm-6">
	<form id="newpost" method="post" action="/home/<%= categoryid %>/new" role="form">
            <div class="form-group">
                <label for="title">Title</label>
                <input type="text" class="form-control" name="title" id="title" placeholder="Title" required>
            </div>
            
            <label for="title">Description</label>
            <div class="form-group">
                <textarea name="description" rows="4" cols="50" placeholder="Description" required></textarea>
            </div>            
            <button id="submitnewpost" type="submit" class="btn btn-primary">Submit Post</button>
        </form>
    </div>
</div>

<% include chunks/foot %>