<% include chunks/head %>
<% include chunks/nav %>

<p>Post manager  page for <%= username %>.</p>

<div class="col-xs-12 col-sm-6">
        <h4>Posts</h4>
        <div class="list-group">
            <% posts.forEach(function(item) { %>
            <a href="/home/<%= categoryid %>/<%= item._id %>" class="list-group-item">
                    <%= item.title %>
            </a>
            <% }); %>
        </div>
</div>

<% include chunks/foot %>