<% include chunks/head %>

<p>Post manager  page for <%= username %>.</p>

<!--<nav id = "messagemanagenavigation">
    <ul>
        <li><a href="/">Home</a></li>
        <li ><a id="messsagemanager" href="/home/manage/messages">Message Manager</a></li>
        <li ><a id="logout" href="/logout">Logout</a></li>
    </ul>
</nav>-->

<% include chunks/nav %>
<% include chunks/foot %>