<% include chunks/head %>

<p>Manage user page for <%= username %>.</p>

<nav id = "usermanagenavigation">
    <ul>
        <li><a href="/">Home</a></li>
        <li ><a id="categorymanager" href="/home/manage/admin/category">Category Manager</a></li>
        <li ><a id="logout" href="/logout">Logout</a></li>
    </ul>
</nav>

<% include chunks/foot %>