<% include chunks/head %>

<p>Manage user page for <%= username %>.</p>

<% include chunks/adminnav %>

<form id="banuser" method="post" action="/home/manage/admin/user/ban" role="form">
	
  <div class="form-group">
    <label for="searchuser">Enter username</label>
    <input type="text" class="form-control" name="banname" id="login_name" placeholder="Username" required>
  </div>
  
  <button id="banuser" type="submit" class="btn btn-primary">Ban user</button>
  
</form>

<form id="unbanuser" method="post" action="/home/manage/admin/user/unban" role="form">
	
  <div class="form-group">
    <label for="searchuser">Enter username</label>
    <input type="text" class="form-control" name="unbanname" id="login_name" placeholder="Username" required>
  </div>
  
  <button id="unbanuser" type="submit" class="btn btn-primary">Unban user</button>
  
</form>

<form id="deleteuser" method="post" action="/home/manage/admin/user/delete" role="form">
	
  <div class="form-group">
    <label for="searchuser">Enter username</label>
    <input type="text" class="form-control" name="deletename" id="delete_name" placeholder="Username" required>
  </div>
  
  <button id="deleteuser" type="submit" class="btn btn-primary">Delete user</button>
  
</form>

<form id="makeadmin" method="post" action="/home/manage/admin/user/makeadmin" role="form">
	
  <div class="form-group">
    <label for="searchuser">Enter username to make admin</label>
    <input type="text" class="form-control" name="makeadminname" id="makeadmin_name" placeholder="Username" required>
  </div>
  
  <button id="makeadmin" type="submit" class="btn btn-primary">Make admin</button>
  
</form>

<form id="unmakeadmin" method="post" action="/home/manage/admin/user/unmakeadmin" role="form">
	
  <div class="form-group">
    <label for="searchuser">Enter username to unmake admin</label>
    <input type="text" class="form-control" name="unmakeadminname" id="unmakeadmin_name" placeholder="Username" required>
  </div>
  
  <button id="makeadmin" type="submit" class="btn btn-primary">Unmake admin</button>
  
</form>
<% include chunks/foot %>